ul{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #673E1B;
}
p{
    top: 22px;
    right: 270px;
    color: white;
    height: 18px;
    width: 18px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
}
i{
    font-size: 18px;
}