<header class="shadow-sm p-3 bg-white">
  <section class="container">
    <nav class="navbar navbar-expand-md text-center ">
      <ul class="navbar-nav text-uppercase align-items-center">
        <li class="nav-item">
          <a href="" class="nav-link mr-2">menus</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link mr-2">locations</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="nav-link mr-2"><img src="../../assets/nola-logo9.svg"
              class="w-75"></a>
        </li>
        <li class="nav-item">
          <a routerLink="/LogIn" class="nav-link mr-2">log in</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Cart" class="nav-link">
            <i class="fas fa-shopping-cart mr-2 position-relative"></i>
              <p class="position-absolute">{{count}}</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"> <i class="fas fa-heart mr-2"></i></a>
        </li>

      </ul>
    </nav>
  </section>
</header>