.bg-cart{
    background-color: #B0DEDB;
    height:604px;
}
.displayCart{
    padding: 174px 0;
}
.item{
    padding-top: 50px;
}
.card{
    width: 700px;
    /* max-width: 600px; */
    margin: 0 auto;
}
i{
    color: #673E1B;
    cursor: pointer;
}